li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}



body {
    margin: 0;
}



.gallery {
    width: 1128px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
    padding-left: 156px;
    padding-right: 156px;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: auto;
    margin-left: auto;
}

.gallery-image {
    width: 360px;
    height: 200px;
}

.sl-image {
    width: 1112px;
    height: 640px;
}


.gallery-link {
    display: flex;
    transition: transform 0.5s ease;
}

.gallery-link:hover {

    transform: scale(1.08);
}
